/* Correção no uso do padding nos navegadores */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 18px;
}

a {
    color: #1e7e34 !important;
}

h1 {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 50px;
    margin: 0 0 8px 0;
    color: #333;
}

h2 {
    font-size: 36px;
    color: #333;
    letter-spacing: -0.72px;
    line-height: 43px;
    margin: 40px 0 4px -1.8px;
}

p {
    color: #333;
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 28px;
    margin: 0 0 30px 0;
}

/**
 * CUSTOM
 */

.container {
    max-width: 750px;
}

.profile-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 25px 0;
    border: 3px solid #DDD;
}

.profile-description {
    color: #777;
    letter-spacing: -0.1px;
    line-height: 25px;
    margin: 0 0 10px 0;
}

.profile-links{
    margin-bottom: 25px;
}

.profile-links a {
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
}

.profile-cidade {
    font-size: 16px;
    margin-top: 40px;
}

.profile-breve {
    font-size: 16px;
    margin: 40px 0 30px;
    font-style: italic;
}


.text-align-center {
    text-align: center;
}


/**
 * RESPONSIVE
 */


@media only screen and (max-width:767px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
        line-height: 1.2;
    }

    .profile-image {
        border-radius: 50%;
        width: 170px;
        height: 170px;
        margin: 25px 0;
        border: 3px solid #DDD;
    }

    .profile-links a {
        font-size: 14px;
        margin: 0 10px;
    }


}

